
#header {
color:orange;
}

#description {
padding-top:5x;
}

.pictures {
height:300px;
width:300px;
}

a:hover {
color:#ba6b8b;
text-decoration:none;
}

.picture-descriptions {
text-align:center;
}

